<nav class="footer-menu">
  <ul>
    {% navlink / %}Home{% endnavlink %}
    <li>
      <span>Products</span>
      <ul>
        {% navlink /core/ %}GestureWorks Core{% endnavlink %}
        <li><a href="http://openexhibits.org/" target="_blank">Open Exhibits</a></li>
        <li><a href="https://gameplay.gestureworks.com/" target="_blank">GestureWorks Gameplay</a></li>
      </ul>
    </li>
    <li><a href="http://gestureworks-hci.tumblr.com/" target="_blank">Blog</a></li>
  </ul>
  <ul>
    {% navlink /icons-fonts/ %}Icons + Fonts{% endnavlink %}
    {% navlink /creative-services/ %}Creative Services{% endnavlink %}
    <li><a href="http://wiki.gestureworks.com/" target="_blank">Wiki</a></li>
    {% navlink /about/ %}About{% endnavlink %}
    {% navlink /contact/ %}Contact{% endnavlink %}
    {% navlink /legal/ %}Legal{% endnavlink %}
  </ul>
</nav>

<section class="copyright">
  <h1><a href="http://ideum.com">Ideum</a></h1>
  <p>&copy; 2014 Ideum. GestureWorks is a product of <a href="http://ideum.com">Ideum</a>. Patent&nbsp;Pending.</p>
</section>
