<div class="row">
  <nav class="footer-menu">
    <ul>
      <li><a href="/">Home</a></li>
      <li>
        <span>Products</span>
        <ul class="subnav">
          <li><a href="#FIXME">GestureWorks Core</a></li>
          <li><a href="#FIXME">Open Exhibits</a></li>
          <li><a href="#FIXME">GestureWorks Gameplay</a></li>
        </ul>
      </li>
      <li><a href="#FIXME">Blog</a></li>
    </ul>
    <ul>
      <li><a href="#FIXME">Icons + Fonts</a></li>
      <li><a href="#FIXME">Creative Services</a></li>
      <li><a href="#FIXME">Tutorials</a></li>
      <li><a href="#FIXME">About</a></li>
      <li><a href="#FIXME">Contact</a></li>
    </ul>
  </nav>

  <section class="copyright">
    <h1>Ideum</h1>
    <p>&copy; 2014 Ideum.  GestureWorks is a product of Ideum.  Patent Pending.</p>
  </section>
</div>
