<h1><a class="logo" href="/">Gestureworks</a></h1>

<nav>
  <ul>
    <li>
      <span data-subnav-label>Products</span>
      <ul class="subnav">
        <li><a href="#FIXME">GestureWorks Core</a></li>
        <li><a href="#FIXME">Open Exhibits</a></li>
        <li><a href="#FIXME">GestureWorks Gameplay</a></li>
      </ul>
    </li>
    {% navlink #FIXME %}Blog{% endnavlink %}
    <li><a href="#FIXME">Creative Services</a></li>
    <li><a href="#FIXME">Wiki</a></li>
    <li><a href="#FIXME">About</a></li>
  </ul>
</nav>
