@import "normalize/normalize";

@import "bourbon";

@import "variables";
@import "extends/base";
@import "typography";
@import "forms";
@import "tables";
@import "lists";

@import "neat";

@import "site_structure";

#header { @import "header" }

#footer { @import "footer" }

.button {
  @extend %button
}

.hero-unit {
  @include row;
  @include pad;
}

.bottom-links {
  @include row(table)
}

.bottom-link {
  @include span-columns(4);
  @include pad;
  border-right: 1px solid white;
  &:last-child { border-right: none }
  background-color: #DDD;
}
